/* Reset de estilo básico */
body, h1, p {
    margin: 0;
    padding: 0;
  }
  
  /* Cabeçalho */
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background:  #ffffff;
  }
  
  .logo {
    margin-bottom: 10px;
  }
  
  .header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
  }
  
  .user-info {
    display: flex;
    align-items: center;
    background: #ffffff;
    border-radius: 5px;
    padding: 5px 10px;
  }
  
  .user-icon {
    margin-right: 10px;
  }
  
  .search {
    display: flex;
    align-items: center;
  }
  
  .form_pesquisa {
    display: flex;
  }
  
  input[type="text"] {
    padding: 10px;
    border: 2px solid #777575;
    border-radius: 5px;
    width: 180px;
    height: 20px;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    background-color: #9900ff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .main-nav {
    width: 100%;
    background: #79488d;
  }
  
  .main-nav ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
    list-style: none;
  }
  
  .main-nav ul li {
    flex: 1;
    text-align: center;
  }
  
  .main-nav ul li a {
    color: #ffffff;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-weight: bold;
  }
  
  .main-nav ul li a img {
    margin-right: 8px;
  }
  
  .main-nav ul li a:hover {
    background: #8a3583;
    border-radius: 5px;
  }
  
  h1 {
    text-align: center;
    margin: 20px 0;
  }
  
  #cepInput, button {
    margin: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  #endereco {
    text-align: center;
    margin-top: 20px;
  }
.center{
    text-align: center;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.navegacao {
position: absolute;
bottom: 20px;
left: 50%;
transform: translate(-50%);;
display: flex;
}
.botao {
  text-align: center;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  border: 2px solid #fff;
  transition: .6s;
}

.botao:hover {
  background-color: #fff;
}

.Binput{
  display: none;
}

.slides{
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: opacity .6s ease-in-out;
  
}


.active {
  display: block;
}

/* Efeitos de transição */
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.slide.fade {
  animation-name: fade;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.section{
    align-items: center;
    font-family: 'Roboto', sans-serif;
    margin-left: 110px;
    margin-right: 110px;
}
.section h1{
    color: #79488d;
}