@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}
:root {
  --second-bg-color: #B29884;
  --text-color: #4B3D2F;
  --main-color: #251E17;
}

body, h1, p {
    margin: 0;
    padding: 0;
  }
  
  /* Cabeçalho */
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background:  #ffffff;
  }
  .container {
    display: flex;
    flex-direction: column;
    margin-top: 0% ;
    align-items: center;
  }
  .container h1 {
    color: var(--text-color)  !important;
  }
  .container span{
    color:var(--main-color)
  }

  .carousel-inner {
    flex-direction: column;
    align-items: center;
    background:  #ffffff;
  }

.section-bemvindo{
  display: flex;
  flex-direction: column;
  align-items: center;
  background:  #ebdad1;
}

.section-servicos-card{
background: #ebdad1;

}
.main {
  display: flex; /* Ativa o Flexbox */
  flex-wrap: wrap; /* Permite que os cards quebrem para a próxima linha, se necessário */
  justify-content: space-between; /* Espaça os cards uniformemente */
}

.card {
  background-color: #fff; /* Cor de fundo das cards */
  border: 1px solid #ccc; /* Borda da card */
  border-radius: 8px; /* Arredondar os cantos */
  padding: 16px; /* Espaçamento interno */
  margin: 20px 20px 20px 20px; /* Espaçamento externo */
  width: calc(50% - 50px); /* Definindo a largura de cada card (50% menos a margem) */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Sombra leve para destaque */
}

.card img {
  max-width: 100%; /* Garante que a imagem não exceda a largura do card */
  height: auto; /* Mantém a proporção da imagem */
}

.card-header {
  display: flex; /* Flexbox para alinhar o título e a imagem */
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px; /* Alinha verticalmente */
}

.card-header img {
  margin-right: 10px;
  width: 70px;
  height: 70px;
}


@media screen and (max-width: 768px) {
  .card {
    width: 100%;
    margin: 20px 0;
  }
}
@media (max-width: 768px) {
  .content {
      flex-direction: column; /* empilha os elementos */
  }

  .section-carrinho {
      margin-right: 0; /* remove margem */
      margin-bottom: 20px; /* adiciona margem inferior */
  }

  aside {
      width: 100%; /* ocupa 100% em telas menores */
  }
}


  .active {
    flex-direction: column;
    align-items: center;
    background:  #ffffff;
    width: 50%;
  }

  .carousel-item {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background:  #ffffff;
    width: 50%;

  }
  
  .header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
  }
  
  .user-info {
    display: flex;
    align-items: center;
    background: #ffffff;
    border-radius: 5px;
    padding: 5px 10px;
  }
  .user-info-carrinho{
    display: flex;
    align-items: center;
    background: #ffffff;
    border-radius: 5px;
    padding: 5px 10px;
  }
  
  .user-icon {
    margin-right: 10px;
    transition: transform 0.3s ease; 
  }
  
  .user-icon:hover {
    transform: scale(1.2);
  }
  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0 200px;
    width: 100%;
    
  }
 
.group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  max-width: 190px;
}

.input {
  width: 100%;
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #f3f3f4;
  color: #0d0c22;
  transition: 0.3s ease;
}

.input::placeholder {
  color: #9e9ea7;
}

.input:focus,
input:hover {
  outline: none;
  border-color: rgba(0, 48, 73, 0.4);
  background-color: #fff;
  box-shadow: 0 0 0 4px rgb(0 48 73 / 10%);
}

.icon {
  position: absolute;
  left: 1rem;
  fill: #9e9ea7;
  width: 1rem;
  height: 1rem;
}

  
  button[type="submit"] {
    padding: 10px 20px;
    background-color: #9900ff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .main-nav {
    width: 100%;
    background: var(--text-color);
  }
  .section-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .main-nav ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
    list-style: none;
    align-items: center;
    
  }
  
  .main-nav ul li {
    flex: 1;
    text-align: center;
    align-items: center;
    margin-top: 13px;
  }
  
  .main-nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.0em;
    font-family: "Gooper" !important;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    transition: .6s;
  }
  
  .main-nav ul li a:hover {
    color: #af9687;
    border-radius: 5px;
  }
  
  h1 {
    text-align: center;
    margin: 20px 0;
  }
  
  #cepInput, button {
    margin: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  #endereco {
    text-align: center;
    margin-top: 20px;
  }
.center{
    text-align: center;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 30px; 
  
}

.slide img {
  width: 1000px;
 height: 500px;

  border-radius: 10px;
}
.section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-left: 110px; 
    margin-right: 110px;
    margin-bottom: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.container h1{
    text-align: center;
    color: #664634;
}

.container p{
  text-align: center;
  margin-left: 400px;
  margin-right: 400px;
  font-size: 18px;

  
}

.tela-fundo{
    flex: 1 1 300px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 12%;
    height: 80rcarp;
    margin-left: 70px;
    background-color: #ffffff;
}

.img-produt{
    margin-top: 10px;
    width: 100%;
    height: 100%;
    max-width: 100px;
}
 .desconto {
   background-color: rgb(50, 201, 50);
   width: 66PX;
   margin-left: 10px;
   margin-bottom: 20px;
   border-radius: 10px;
   color: #ffffff;
}
.informacao-produt{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}




.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;

}

.botao-comprar{
  display: block;
  width: 120px;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  font-family: sans-serif;
  text-decoration: none;
  color: #333;
  border: 2px solid #333;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
  margin-bottom: 20px;
}

.botao-comprar span{
  position: relative;
  z-index: 2;
}

.botao-comprar:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #402617;
  transition: all .35s;
}

.botao-comprar:hover{
  color: #fff;
}

.botao-comprar:hover:after{
  width: 100%;
}

.caixas-compra{
  flex-wrap: wrap;
    display: flex;
    margin-top: 140px;
    justify-content: center;
    align-items: row;
}

.destaques{
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.destaques h2{
    color: #664634;
    text-align: center;
    font-size: 30px;
}


.img-destaques{
    width: 130px;
    height: 130px;
    transition: transform 0.3s ease; 
    border-radius: 50%;
    margin-left: 30px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.img-destaques:hover{
    transform: scale(1.1);
}
@media (max-width: 768px) {
  .user-info {
      display: none; 
  }
}

.categorias{
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.categorias-sec{
    display: flex;
    justify-content: center ;
    align-items: center;
    margin-top: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.img-cate{
    width: 60px;
    height: 60px;
}
@media (max-width: 768px) {
  .categorias {
      flex-direction: column; /* Coloca as categorias uma abaixo da outra */
      align-items: center; /* Centraliza os itens */
  }

  .categorias-sec {
      width: 80%; /* Aumenta a largura das categorias para telas menores */
      margin-bottom: 20px; /* Adiciona um espaçamento entre as categorias */
  }

  .img-cate {
      width: 80px; /* Diminui o tamanho da imagem para telas menores */
  }
}
.produto-h1{
    text-align: center;
    margin-top: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #664634;
}

.comentarios-sec ul li {
  display: flex;
  flex-direction: row; 
  align-items: center; 
  margin-bottom: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.img-perfil {
  width: 50px;
  height: 50px;
  margin-right: 10px; 
  margin-bottom: 40px;
}

.comentario-texto { 
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.section-servicos h2{
  color:#664634;
}

.servicos-oferecidos{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.servicos-oferecidos{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.servicos-oferecidos ul li {
   list-style: none;
}
#section-servicos-fora{
    margin-top: 50px;
    padding-left: 200px;
    padding-right: 200px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#section-servicos-fora h2{
  color: #664634;
  margin-top: 50px;
  padding-left: 200px;
  padding-right: 200px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.body-beje{
  background-image: url(assets/tela-fundo.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  right: 100%;
 
}
#h2-comentario{
  color: #664634;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.texto-alimento h2{
  color:#664634 ;
}
.post{
  margin-top: 50px;
  margin-left: 50px;
  right: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.post-position{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  font-size: 20px;
  
}
.post2{
  margin-top: 50px;
  margin-left: 50px;
  right: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.post-position2{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  font-size: 20px;
  
}
#golden{
  
  width: 700px;
  padding-right: 30px;
}

.redes-icons{
  width: 30px;
  height: 30px;
}

.footer{
  background: var(--text-color);

  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.footer-position{
 grid-column: 10px;
  color: #000000;
  font-size: 20px;
  margin-top: 5px;
  
}

.telas-ul a{
color: #000000;
text-decoration: none;
}
.contato-position {
  display: flex;
  flex-direction: center;
  align-items: center;
  color: #000000;
  font-size: 20px;
  margin-left: 300px;
  margin-right: 300px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.contato-position h2{
  color: #664634;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-carrinho {
  background: #01236d;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: relative;
  width: 100%;
  margin-top: 40px;
}

.social-icons {
  margin-top: 10px;
}

.social-icons a {
  color: #fff;
  margin: 0 10px;
  font-size: 24px;
  text-decoration: none;
}

.social-icons a:hover {
  color: #007bff;
}


